- cache("paintings-#{paintings.map(&:updated_at).hash}") do
  #wrapper
    %ul#carousel
      = render paintings

  #bar
    %a#prev{:href => "#"} &laquo;
    %a#next{:href => "#"} &raquo;
    %span#title

  :javascript
    function getMinMarge( newItems ) {
      var center  = newItems.eq(0).outerWidth(true) + (newItems.eq(1).outerWidth(true) / 2);
      var minMarg = ($(window).width() / 2) - center;
      return minMarg;
    }

    function getStartSlide() {
      var slide_id = '#painting_' + window.location.hash.slice(1);
      var index = jQuery.inArray( $(slide_id)[0], $('#carousel li'));
      if (index >= 0) {
        index = index - 1;
      }
      return index;
    }

    function showTitle( item ) {
      $('#title').html( item.find('img').attr( 'alt' ) );
    }

    $(function() {
      $('#carousel').carouFredSel({
        width: 10000, //  should be wide enough ;)
        height: 790,
        align: false,
        circular: true,
        infinite: true,
        items: {
          visible: 3,
          minimum: 1,
          start: getStartSlide()
        },
        prev: {button : '#prev', key : "left"},
        next: {button : '#next', key : "right"},
        auto: false,
        scroll: {
          items: 1,
          duration: 1000,
          onBefore: function( oldItems, newItems, newSizes, animDuration ) {
            $(this).parent().animate({
              'marginLeft': getMinMarge( newItems )
            }, animDuration);
            oldItems.eq(1).animate({
              'opacity': 0.2
            }, animDuration);
            newItems.eq(1).animate({
              'opacity': 1
            }, animDuration);
            showTitle( newItems.eq(1) );
          }
        },
        onCreate: function( items ) {
          $(this).parent().css({
            'marginLeft': getMinMarge( items )
          });
          if($(this).children().length > 1){
            $(this).children().not(':eq(1)').css({
              'opacity': 0.2
            });
          }
          showTitle( items.eq(1) );
        }
      });
    });
