- cache("painting-#{painting}") do
  <script type="text/javascript"async defer data-pin-shape="round"data-pin-height="32"data-pin-hover="true"src="//assets.pinterest.com/js/pinit.js"></script>

  #painting
    %h1= painting.title
    .image
      = image_tag(painting.image.url)
      %p= painting.note
