#biography
  #quotes
    %h3 What the critics say
    %blockquote
      %p
        Charles has more potential than he is showing.  He spends too much time
        drawing little pictures.
      %cite
        Third grade teacher

    %blockquote
      %p
        The client doesn't like green. Change it.
      %cite
        Former agency president

    %blockquote
      %p
        Chuck spends too much time painting little pictures in his studio and
        doesn't focus on the things that have to be done around the house
      %cite
        Anonymous

    %blockquote
      %p
        If not now, when?
      %cite
        Chuck Van Horn (Retired)

  #summary
    = image_tag 'bio_portrait.jpg', :size => '147x240', :alt => 'Chuck Van Horn', :class => 'bio-portrait'

    %P
      Chuck received his Bachelor of Professional Arts Degree from the Art Center
      College of Design in Los Angeles.  He studied drawing  under the guidance of
      Lorser Feitelson, Joseph Henniger and Gene Fleury.

    %p
      Chuck started his commercial art career in New York City. His art is owned
      by Fortune 500 companies and is in private collections in the U.S. and
      Europe.

    %p
      Chuck's passion is watercolor and his mentor is John Pike.  He is also
      influenced by John Singer Sargent, Charles Hawthorne, and Alvaro Castagnet.

    %p
      Currently Chuck teaches computer illustration and advertising design at
      Nassau Community College on Long Island. He gives numerous workshops and
      lectures throughout Nassau County.

    %p
      Chuck is a member of the prestigious Salamagundi Club in New York City and
      recently won  best watercolor in the President's  <q>Best of the Best</q>
      exhibition for water media and pastel. He also won first prize in the
      Salmagundi exhibition <q>Something Old, Something New</q> . In the Art
      League of Hilton Head 2008 National Juried Show, Chuck won an honorable
      mention for his painting <q>Memories of Maria</q>

    = image_tag 'signature-grey.png', :id => 'signature-grey', :size => '242,132', :alt => '-- Chuck Van Horn'
