#home
  #bio
    %p
      My objective is to  understand clearly what I am seeing and to convey
      those feelings through my art.

    %p
      My passion is watercolor, traveling the world and capturing  those special
      moments.

    %p
      I believe in the classical fundamentals of good drawing and painting. It
      has helped me convey my message through the watercolor medium.

    %p
      I thank God for giving me the talent, the strong desire to paint the
      natural beauty around me and to share what I have learned with others.

    = image_tag('signature.png', :size => '260x113', :id => 'signature', :alt => '-- Chuck Van Horn')

