#workshops
  #events
    %h1 Long Island Workshops &amp; Upcoming Events
    %h3 To be announced
  #images
    %figure= image_tag 'student.jpg', :size => '218x291', :alt => 'Student Painting'
    %figcaption Student Painting

