#workshops
  #events
    %h1 Workshops
  #images{style: "float: left; margin-right: 20px;"}
    %figure= image_tag 'student.jpg', :size => '218x291', :alt => 'Student Painting'
    %figcaption Student Painting
  #info
    %p
      Jericho Public Library virtual watercolor demonstration will begin on
      Wednesday January 13, 2021 at 1PM to 3PM.
    %p
      You must sign up at the
      = link_to 'Jericho Public Library', 'https://www.jericholibrary.org/events/upcoming'
    %p
      There is no cost for this demonstration.
