#blog
  %header
    = image_tag "Above_BeaconFallsCafe.png", :size => '260x188'
    %h1 Painting as a Passion
    %p.intro Some thoughts and news about watercolor that I hope you find interesting.

  #blog_posts
    = render posts
