#biography {
  @include makeColumn(8,2);
}

#quotes {
  @include makeColumn(3);
  float: left;
  margin-left: 0;
  blockquote {
    border: none;
    padding: auto 0;
    font-style: italic;
    p {
      margin-bottom: 5px;
      font-size: 0.9em;
      line-height: 1.2em;
    }
    p:before {
      content: '\201C';
    };
    p:after {
      content: '\201D';
    };
    cite {
      margin-left: 10px;
      font-size: 0.9em;
      font-style: italic;
    }
  }
}

#summary {
 @include makeColumn(5);
  float: left;
  #signature-grey {
    margin-top: 50px;
    float: right;
  }
}

img.bio-portrait {
  float: right;
  // margin-left: 5px;
}
