@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

#gallery {
  @include make-col(10,1)
}

#info {
  @include make-col(6);
  margin-left: 0;
  float: left;
}

#slideshow {
  @include make-col(4);
  float: left;
}

ul.thumbnails {
  display: flex;
  flex-wrap: wrap;
  clear: left;
}

li.painting {
  list-style: none;
  .thumbnail {
    @include border-radius(0);
    border-color: #333;
    width: 220px;
    height: 270px;
    text-align: center;

    figure {
      margin: 8px 0;
    }

    figcaption {
    }

    strong {
      color: #F00;
    }
  }
}

#portraits {
  @include make-col(10,1);
  li.painting .thumbnail {
    height: 270px;
  }
}
