html {
  background: #000;
}
#home {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  background: image-url('portrait.jpg');
  color: #FFF;
  width: 600px;
  height: 559px;
  margin: 0 auto;
  padding: 0 8px;
}
#bio {
  width: 300px;
  margin-right: 300px;
}
#signature {
  margin-top: 160px;
}
