html {
  color: #FFF;

  body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    background: #000;
  }
}
#home {
  @include makeColumn(8,2);
  color: #FFF;
  background: image-url('portrait.jpg') top right no-repeat;
}
#bio {
  @include makeColumn(4);
}
#signature {
  margin: 90px 0;
}
