@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

#links {
  @include make-col(8,2);
  h1 {
    text-align: center;
  }
  img {
    margin-top: 10px;
    margin-bottom: -40px;
  }

  p.artists {
    @include make-col(3);
    float: left;
  }

  dl {
    @include make-col(4);
    margin-top: 0;
    padding-top: 0;
  }

  dt {
    margin-left: 0;
    margin-bottom: 3px;
  }

  dd {
    margin-left: 0;
    margin-bottom: 12px;
  }
}
