@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

#workshops {
  @include make-col(8,2);
  #events {
    @include make-col(5);
    margin-left: 0;
  }
  #images {
    @include make-col(3);
  }

  figcaption {
    text-align: center;
    margin-top: 5px;
  }

}
