#workshops {
  @include makeColumn(8,2);
  #events {
    @include makeColumn(5);
    margin-left: 0;
  }
  #images {
    @include makeColumn(3);
  }

  figcaption {
    text-align: center;
    margin-top: 5px;
  }

}
